parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$input of method App\\\\Actions\\\\Fortify\\\\UpdateUserProfileInformation\\:\\:updateVerifiedUser\\(\\) expects array\\<string, string\\>, array\\<string, mixed\\> given\\.$#"
			count: 1
			path: app/Actions/Fortify/UpdateUserProfileInformation.php

		-
			message: "#^Parameter \\#1 \\$value of static method Illuminate\\\\Support\\\\Str\\:\\:lower\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: app/Providers/FortifyServiceProvider.php
